<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TeachWorkerURL</key>
	<string>https://lefty-teach.nina-c51.workers.dev</string>
	<key>LeftyAppSecret</key>
	<string>REPLACE_WITH_LEFTY_APP_SECRET</string>
</dict>
</plist>
